*{
    box-sizing: border-box;
}
body{
    width: 100%;
    height: auto;
    margin: 0px;
    display: flex;
    flex-direction: column;
}
ol{
    list-style-type: none;
}
.fond{
    width: 100%;
    height: 80vh;
    background-image: url(../assets/images/Fondo.png);
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}
.fond main{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 1% 0%;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.616);
}
.fond main h1{
    font-size: 2.5rem;
    color: #fffbfb;
}
main span{
    color: rgb(0, 204, 255);
}
.fond main ol{
    display: flex;
    gap: 4%;
    width: auto;
}
.fond main li{
    padding: 1%;
}
main .active{
    border: 1px solid rgb(0, 195, 255);
    color: rgb(0, 195, 255);
}
.fond h1{
    font-size: 2em;
    background-color: rgba(124, 123, 123, 0.452);
    align-self: center;
}


.tarjetas{
    width: 100%;
    height: auto;
    display: flex;
    padding: 4% 10% 2%;
    justify-content:center;
    gap: 5%;
    color: white;
    background-color:rgb(0, 195, 255);
}
.tarjetas .tarjeta{
    width: 17%;
    height: auto;
}
.submenu{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu2{
    width: 75%;
    display: flex;
    height: auto;
    justify-content: space-between;
    padding: 1% 4%;
}

.menu2  ol{
    display: flex;
    gap: 4%;
    width: auto;
}
.contenedor_imagenes{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2% 0%;
}
.imagenes{
    width: 50%;
    height: auto;
    gap: 2%;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(4 ,1fr);
    grid-template-rows: repeat(2, 1fr);
}
.imagenes img{
    filter: brightness(70%) saturate(60%);
}

.contenido2{
    width: 100%;
    padding: 4% 0%;
    height: auto;
    display: flex;
    background-color: rgb(87, 86, 86);
    color: white;
    gap: 3%;
    align-items: center;
    justify-content: center;
}
.contenido2 section{
    width: 30%;
    display: block;
    font-size: 1rem;
    height: auto;
}
.contenido2 section button{
    padding: 2%;
    background-color: transparent;
    border: 1px solid black;
}



.twitter{
    width: 100%;
    height: auto;
    display: flex;
    background-color: rgb(0, 195, 255);;
    flex-direction: column;
    align-items: center;
    color: white;
}
.twitter p{
    width: 70%;
}
.twitter h1{
    width: 70%;
    display: flex;
    justify-content: space-between;
}
h1 img{
    width: 20px;
    height: auto;
}

.contenido3{
    width: 100%;
    height: auto;
    background-image: url(../assets/images/bg_whoIs.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4% 0%;
    color: white;
}
.contenido3 section {
    width: 35%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.contenido3 section h3 {
  position: relative;
}
.contenido3 section h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0.1%;      /* mueve desde la izquierda */
  width: 20%;     /* ← el tamaño del borde */
  height: 2px;
  background: white;
}
.contenido3 section .imagenes_contenedor3{
    display: flex;
    width: 100%;
    height: auto;
}

.contenido4{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3% 0%;
}
.contenido4 section{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.seccion_contacto{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/images/bg_contact.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.contacto{
    width: 70%;
    height: auto;
    padding: 5% 0%;
}
.contacto form{
    width: 100%;
    color: white;
    height: auto;
    display: flex;
    flex-direction: column;
}
.titulo {
  position: relative;
}
.titulo::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0.1%;      /* mueve desde la izquierda */
  width: 3.5%;     /* ← el tamaño del borde */
  height: 2px;
  background: white;
}
input{
    width: 85%;
    padding: 1%;
    background-color:transparent;
    border: 1px solid white;
}
label{
    margin: 2% 0%;
}
form .secciones_contacto{
    display: flex;
    width: 100%;
    height: auto;
}
.secciones_contacto section{
    width: 50%;
    display: flex;
    flex-direction: column;
}
textarea{
    background-color: transparent;
    border: 1px solid white
}
form button{
    width: 15%;
    height: auto;
    padding: 1%;
    background-color: rgb(0, 195, 255);;
    margin-top: 2%;
}

footer{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(90, 89, 89);
    background-color: rgb(46, 45, 45);
}
footer ol{
    display: flex;
    gap: 5%;
}
footer .contenido{
    width: 70%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}